<header>
    <div id="header-main" class="header">
        <!-- <div class="header-menu">
            <span class="material-icons-outlined">
                menu
            </span>
        </div> -->

        <div class="header-logo">
            matchday
        </div>
    </div>

    <div class="header-nav">

        <a class="header-nav-item" *ngFor="let menu of menus"
        [ngClass]="{'header-nav-item': true, 'header-nav-item-active' : menu.active}">
            <!-- <div [ngClass]="{'footer-menu-item': true, 'footer-menu-item-active' : menu.active}"> -->
                <span class="material-icons-outlined">
                    {{ menu.icon }}
                </span>
                {{ menu.label }}
            <!-- </div> -->
        </a>

    </div>



</header>