.profile-actions {
    display: flex;
    align-items: center;
    margin: 15px;
    flex-direction: column;
    gap: 15px;
}

.profile-actions > button {
    height: 35px;
}


#update-profile-btn {
    background-color: var(--color-blue);
    color: var(--color-white);
    width: 90%;
}

#logout-btn {
    background-color: var(--color-x-light-grey);
    color: var(--color-dark);
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}