<!-- <div style="font-size: 18px;
color: var(--color-blue);
padding: 0px 5px;">
    Perfil
</div> -->


<div class="app-box-white" style="display: flex;
justify-content: center;
flex-direction: column;
padding: 10px 10px 50px 10px">



    <div class="app-input-block">
        <label>Email</label>
        <input type="email" [(ngModel)]="userInfo.email" disabled />
    </div>

    <div class="app-input-block">
        <label>Nome</label>
        <input type="text" [(ngModel)]="userInfo.name" />
    </div>

    <!-- <div class="app-input-block">
        <label>Apelido</label>
        <input type="text" [(ngModel)]="userInfo.nickname" />
    </div> -->

    <div class="app-input-block">
        <label>Lado de Preferência</label>
        <select name="select">
            <option value="left">Esquerda</option>
            <option value="right">Direita</option>
        </select>
    </div>

    <div class="profile-actions">
        <button class="button-with-icon" id="update-profile-btn" (click)="updateProfile()">
            <span class="material-icons-outlined">
                done
            </span>
             Salvar
        </button>
        <button class="button-with-icon" id="logout-btn" (click)="endSession()">
            <span class="material-icons-outlined">
                logout
            </span>
            Sair
        </button>
    </div>

</div>