<div class="app-v-align-center" style="background-color: white;
border-radius: 5px;
flex-direction: column;
padding: 5px 10px;
height: 100%;">


    <div class="login-header">
        ftv
    </div>

    <div style="text-align: center;
    color: var(--color-dark-grey);
    padding-bottom: 15px;">
        Bem-vindo a maior comunidade de Futevolei do Brasil.
    </div>



    <div class="login-social">
        <!-- <button id="login-fb-btn" (click)="loginFacebook()">
            Fazer Login com o Facebook
        </button>

        <button id="login-google-btn" (click)="glogin()">
            Fazer Login com o Google
        </button> -->

        <!-- <div id="buttonDiv"></div> -->


        <!-- <button id="login-fb-btn" (click)="loginFacebook()">
            Entrar com o Facebook
        </button> -->

        <!-- <div class="fb-login-button" data-width="" data-size="medium" data-button-type="continue_with"
            data-layout="default" data-auto-logout-link="false" data-use-continue-as="false" data-onlogin="fbLogin" ></div> -->

        <div class="g_id_signin" data-type="standard" data-shape="rectangular" data-theme="outline"
            data-text="Continue com o Google" data-size="large" data-locale="pt-BR" data-logo_alignment="left">
            test
        </div>
        <!-- <div class="g_id_signin" data-type="icon" data-shape="circle" data-theme="outline" data-text="signin_with"
                data-size="large" data-locale="pt-BR" data-callback="teste">
            </div> -->


        <!-- <div id="g_id_onload" data-context="signin"  data-theme="outline" data-size="large"  data-client_id="714491587198-mg6o6k2hfh94o4smdl50amspgj52qrm4.apps.googleusercontent.com" ></div>  -->

        <!-- <div id="g_id_onload" data-client_id="714491587198-mg6o6k2hfh94o4smdl50amspgj52qrm4.apps.googleusercontent.com"
            data-context="signin" data-ux_mode="popup" data-callback="teste()" data-close_on_tap_outside="false">
        </div> -->

        <!-- <div id="g_id_onload" data-client_id="714491587198-mg6o6k2hfh94o4smdl50amspgj52qrm4.apps.googleusercontent.com" data-callback="() => test()">
        </div>
-->
        <!-- <div class="g_id_signin" data-type="standard" data-shape="rectangular" data-theme="outline"
            data-text="signin_with" data-size="large" data-locale="pt-BR" data-logo_alignment="left">
        </div>  -->


    </div>

    <div class="login-divider">
        <span class="app-divider"></span>
        <span class="app-divider-text"> OU </span>
        <span class="app-divider"></span>
    </div>


    <div class="login-credentials">
        <div class="app-input-block">
            Email
            <input type="email" />
        </div>

        <div class="app-input-block">
            Senha
            <input type="password" />
        </div>
    </div>

    <div class="login-actions">

        <button id="login-btn" (click)="glogout()">
            Entrar
        </button>

        <a>Esqueceu a senha?</a>
        <a>Cadastre-se</a>
    </div>

</div>



<!-- <button (click)="login()"> Login </button> -->

<!-- 
<div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-layout="default"
    data-auto-logout-link="false" data-use-continue-as="false"></div> -->




<!-- <button (click)="logout()"> Logout </button>


<button (click)="email()">email </button> -->


<!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> -->


<!-- <script>
    function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
        console.log('Name: ' + profile.getName());
        console.log('Image URL: ' + profile.getImageUrl());
        console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
    }
</script> -->