button {
    border-radius: 5px;
    border: 0;
    height: 35px;
}

.header {
    /* font-family: 'Zen Dots', cursive; */
    margin: auto;
    font-size: 26px;
    /* font-style: italic; */
    color: var(--color-blue);
}


.login-social {
    width: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

#login-fb-btn {
    background-color: var(--color-fb-blue);
    color: var(--color-white);
    width: 90%
}

#login-btn {
    background-color: var(--color-blue);
    color: var(--color-white);
}

.login-credentials {
    width: 100%;
    color: var(--color-dark-grey);
}

.login-credentials input {
    height: 35px;
    padding: 0px 15px;
    border-radius: 10px;
    border: 1px solid var(--color-x-light-grey);
    width: 90%;
}

.login-actions {
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

