<div class="app-box-white app-v-align-center">


    <div class="header">
        matchday
    </div>



    <div class="login-social" >
        <button id="login-fb-btn" (click)="loginFacebook()">
            Fazer Login com o Facebook
        </button>

        <button id="login-google-btn" (click)="glogin()">
            Fazer Login com o Google
        </button>
        

        <!-- <button id="login-fb-btn" (click)="loginFacebook()">
            Entrar com o Facebook
        </button> -->

           <!-- <div class="g_id_signin" data-type="icon" data-shape="circle" data-theme="outline" data-text="signin_with"
                data-size="large" data-locale="pt-BR">
            </div> -->


        <!-- <div id="g_id_onload" data-context="signin"  data-theme="outline" data-size="large"  data-client_id="714491587198-mg6o6k2hfh94o4smdl50amspgj52qrm4.apps.googleusercontent.com" ></div>  -->

        <!-- <div id="g_id_onload" data-client_id="714491587198-mg6o6k2hfh94o4smdl50amspgj52qrm4.apps.googleusercontent.com"
            data-context="signin" data-ux_mode="popup" data-callback="teste()" data-close_on_tap_outside="false">
        </div> -->

        <!-- <div id="g_id_onload" data-client_id="714491587198-mg6o6k2hfh94o4smdl50amspgj52qrm4.apps.googleusercontent.com" data-callback="() => test()">
        </div>
-->
        <!-- <div class="g_id_signin" data-type="standard" data-shape="rectangular" data-theme="outline"
            data-text="signin_with" data-size="large" data-locale="pt-BR" data-logo_alignment="left">
        </div>  -->


    </div>

    <span class="app-divider" style="width: 80%;"></span>


    <div class="login-credentials">
        <div class="app-input-block">
            Email
            <input type="email" />
        </div>

        <div class="app-input-block">
            Senha
            <input type="password" />
        </div>
    </div>

    <div class="login-actions">

        <button id="login-btn" (click)="logout()">
            Entrar
        </button>

        <a>Esqueceu a senha?</a>
        <a>Cadastre-se</a>
    </div>

</div>



<!-- <button (click)="login()"> Login </button> -->

<!-- 
<div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-layout="default"
    data-auto-logout-link="false" data-use-continue-as="false"></div> -->




<!-- <button (click)="logout()"> Logout </button>


<button (click)="email()">email </button> -->


<!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> -->


<!-- <script>
    function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
        console.log('Name: ' + profile.getName());
        console.log('Image URL: ' + profile.getImageUrl());
        console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
    }
</script> -->