<div class="app-v-align-center" style="background-color: white;
border-radius: 5px;
flex-direction: column;
padding: 5px 10px;
height: 100%;">


    <div class="login-header">
        ftv
    </div>

    <div style="text-align: center;
    color: var(--color-dark-grey);
    padding-bottom: 15px;">
        Bem-vindo a maior comunidade de Futevolei do Brasil.
    </div>



    <div class="login-social">
        <div class="g_id_signin" data-type="standard" data-shape="rectangular" data-theme="outline"
            data-text="Fazer login com o Google" data-size="large" data-locale="pt-BR" data-logo_alignment="left">
        </div>
    </div>

    <div class="login-divider">
        <span class="app-divider"></span>
        <span class="app-divider-text"> ou </span>
        <span class="app-divider"></span>
    </div>


    <div class="login-credentials">
        <div class="app-input-block">
            Email
            <input type="email" />
        </div>

        <div class="app-input-block">
            Senha
            <input type="password" />
        </div>
    </div>

    <div class="login-actions">

        <button class="button-with-icon" id="login-btn" (click)="glogout()">
            <span class="material-icons-outlined">
                login
            </span>
            Entrar
        </button>

        <a>Esqueceu a senha?</a>
        <a>Cadastre-se</a>
    </div>

</div>



<!-- <button (click)="login()"> Login </button> -->

<!-- 
<div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-layout="default"
    data-auto-logout-link="false" data-use-continue-as="false"></div> -->




<!-- <button (click)="logout()"> Logout </button>


<button (click)="email()">email </button> -->


<!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> -->


<!-- <script>
    function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
        console.log('Name: ' + profile.getName());
        console.log('Image URL: ' + profile.getImageUrl());
        console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
    }
</script> -->