.match {
    display: flex;
    justify-content: space-between;
    /* padding: 10px 5px; */
    /* border: 1px solid #FFF; */
    font-size: 14px;
    background-color: var(--color-xx-light-grey);
    height: 35px;
    align-items: center;
    padding: 0px 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


.match-info {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    background-color: var(--color-x-light-grey);
    padding: 0px 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    

}

/* MATCH DETAILS */
/* .match-details-overlay {
    background-color: rgba(0, 0, 0, 0.15);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}

.match-details {
    background-color: #FFF;
    border-radius: 5px;
    z-index: 9999;
    width: 85%;
    height: 425px;
    margin: 75px 30px 0px 30px;
    position: fixed;
    flex-direction: column;
}

.match-details-header {
    display: flex;
    justify-content: center;
    padding: 25px;
    font-size: 18px;
}

.match-details-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.match-details-content > span {
    padding: 10px;
}

.match-details-content > input {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    font-size: 22px;
    text-align: center;
    border: 1px solid #5a5a5a;
}

.match-details-content > button {
    margin-top: 25px;
    width: 100px;
    height: 35px;
    background-color: #03a9f4;
    border: 0px solid #5a5a5a;
    border-radius: 2px;
    color: #e7e7e7;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
} */