<div  (click)="toggleMatchDetails()" >
    <div class="match-info">
        <span>14:00</span>
        <span>Quadra 3</span>
    </div>
    <div class="match">
        <div style="flex-basis: 40%">
            {{ match?.doubleA }}
        </div>
        <div class="matches-result">
            <span>
                {{ match?.pointsDoubleA }}
            </span>
            <span>
                x
            </span>
            <span>
                {{ match?.pointsDoubleB }}
            </span>
        </div>
        <div style="flex-basis: 40%; display: flex;
    flex-direction: row-reverse;">
            {{ match?.doubleB }}
        </div>
    </div>
    
</div>




<div class="match-details-overlay" *ngIf="isMatchDetailsOpened">
    <div class="match-details">

        <div class="match-details-header">
            
        </div>

        <div class="match-details-content">
            <span>
               {{ match.doubleA }}
            </span>
            <input type="number" maxlength="2" [(ngModel)]="match.pointsDoubleA"/>
            <span>
                X
            </span>
            <input type="number" maxlength="2" [(ngModel)]="match.pointsDoubleB"/>
            <span>
                {{ match.doubleB }}
            </span>
            <button (click)="saveMatchResult()"> Salvar </button>
        </div>


    </div>
</div>