<div class="app-main">


    <button (click)="logout()">Sair </button>

    <div style="
display: flex;
justify-content: center;
align-items: center;">
        <!-- <div> -->

        <input placeholder="Pesquisar" style="height: 35px;
                padding: 0px 15px;
             border-radius: 10px;
                border: 1px solid var(--color-x-light-grey);
                width: 75%;
" />
        <span class="material-icons-outlined" style="text-indent: -30px;
        font-size: 22px;
    color: var(--color-blue);">
            search
        </span>

        <!-- </div> -->



    </div>

    <div routerLink="matches" style="    margin: 15px 2px;
height: 150px;
background-color: white;
color: var(--color-blue);
border-radius: 5px;
display: flex;
align-items: flex-start;
font-size: 14px;
flex-direction: column;
padding: 5px 10px;
">

        <div style="font-size: 16px;">
            Super Copa Catequese
            <!-- <select>
            <option>Copa Catequese</option>
        </select> -->

        </div>

        <div style="font-size: 12px; color: var(--color-dark-grey); margin: 10px 0px;">
            Bah Beach Sports - Porto Alegre / RS
            <br>
            Data: 20/04/2022

        </div>

        <div style="    margin: 15px 0px;
    background-color: var(--color-light-grey);
    color: white;
    padding: 2px 10px;
    border-radius: 50px;
    min-width: 150px;
    text-align: center;">
            Aguardando Inicio
        </div>


    </div>

    <div style="    margin: 15px 2px;
height: 150px;
background-color: white;
color: var(--color-blue);
border-radius: 5px;
display: flex;
align-items: flex-start;
font-size: 14px;
flex-direction: column;
padding: 5px 10px;
">

        <div style="font-size: 16px;">
            Super Copa Catequese
            <!-- <select>
            <option>Copa Catequese</option>
        </select> -->

        </div>

        <div style="font-size: 12px; color: var(--color-dark-grey); margin: 10px 0px;">
            Bah Beach Sports - Porto Alegre / RS
            <br>
            Data: 20/04/2022

        </div>

        <div style="    margin: 15px 0px;
    background-color: #66bb6a;
    color: white;
    padding: 2px 10px;
    border-radius: 50px;
    min-width: 150px;
    text-align: center;">
            Em Andamento
        </div>


    </div>


    <div style="    margin: 15px 2px;
height: 150px;
background-color: white;
color: var(--color-blue);
border-radius: 5px;
display: flex;
align-items: flex-start;
font-size: 14px;
flex-direction: column;
padding: 5px 10px;
">

        <div style="font-size: 16px;">
            Super Copa Catequese
            <!-- <select>
            <option>Copa Catequese</option>
        </select> -->

        </div>

        <div style="font-size: 12px; color: var(--color-dark-grey); margin: 10px 0px;">
            Bah Beach Sports - Porto Alegre / RS
            <br>
            Data: 20/04/2022

        </div>

        <div style="    margin: 15px 0px;
    background-color: #ef5350;
    color: white;
    padding: 2px 10px;
    border-radius: 50px;
    min-width: 150px;
    text-align: center;">
            Finalizado
        </div>


    </div>

</div>