
<aside class="sidenav" *ngIf="sideNavOpened">
  <div class="sidenav-menu">
    <a (click)="toggleSideNav()" style="margin-bottom: 20px;">
      <span class="material-icons-outlined" style="font-size: 32px" >
        close
      </span>
    </a>

    <a>
      Ranking
    </a>

    <a>
      Histórico
    </a>

    <a>
      Regulamento
    </a>

  </div>
</aside>


<header>
  <div class="header-logo">
    Header
  </div>
  <div class="header-menu">
    <a (click)="toggleSideNav()">


      <span class="material-icons-outlined">
        menu
      </span>
    </a>
  </div>

</header>



<main>
  <div class="main-menu">

    <a href="#" class="active">

      Tabela de Jogos
    </a>
    <a href="#">
      Classificação
    </a>
  </div>
  <div style="margin: 15px 0px;">

    <!-- {{ matches[0].teamA?.playerA?.name }} -->

    <div *ngFor="let match of matches" class="jogo1">

      <div>
        {{match.teamA?.playerA?.name}} e {{match.teamA?.playerB?.name}}
      </div>
      <div>
        18 x 10
      </div>
      <div>
        {{match.teamA?.playerA?.name}} e {{match.teamA?.playerB?.name}}

      </div>


    </div>



    <!-- <div class="jogo1">
      <div> #1 </div>
      <div>Mauricio e Rafael</div>
      <div>18</div>
      <div>x</div>
      <div>10</div>
      <div>Canatta e Kennedy
      </div>
    </div>

    <div class="jogo2">
      <div> #1 </div>
      <div>Mauricio e Rafael</div>
      <div>18</div>
      <div>x</div>
      <div>10</div>
      <div>Canatta e Kennedy
      </div>
    </div> -->




  </div>


</main>

<footer>

</footer>