:host {
    width: 100%;
}







.jogo1:nth-child(even) {
    background-color: #e7e7e7;
}

.jogo1:nth-child(odd) {
    
    background-color: #f9f9f9
}

.jogo1 {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    border: 1px solid #FFF;
    font-size: 12px;
}



/* HEADER */
header {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #FFF;
    border-bottom: 1px solid #e7e7e7;
    z-index: 998;

    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    
    /* background-image: url("../assets/header_background.jpg"); */
}

.header-logo {
    margin: auto 25px;
    
}

.header-logo > span {
    font-size: 32px
}
.header-menu {
    margin: 20px 25px;
}
.header-menu > a >span {
    font-size: 32px;
}


/* MAIN */
.main-menu {
    display: flex;
    justify-content: space-evenly;
    list-style:none;
    padding: 0px
}

.main-menu > a {
    text-decoration: none;
    color: #000;
    padding: 5px 5px;
}

.main-menu .active {
    border-bottom: 2px solid black;
    
}


/* SIDENAV */
.sidenav {
    z-index: 999;
    right: 0;
    width: 250px;
    height: 99%;
    background-color: #FFF;
    position: absolute;
    border-bottom: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
}

.sidenav-menu {
    margin: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}



/* FOOTER */
footer {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: var(--color-xx-light-grey);
    border-top: 1px solid #e7e7e7;
    z-index: 998;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    
}

.footer-menu > a {
    text-decoration: none;
    color: #5a5a5a;
}



.footer-menu-item {
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.footer-menu-item-active {
    color: var(--color-blue)
}

.footer-menu-item > span {
    margin: 7px auto 2px auto;
}




/* MATCH DETAILS */
.match-details-overlay {
    background-color: rgba(0, 0, 0, 0.15);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
}

.match-details {
    background-color: #FFF;
    border-radius: 5px;
    z-index: 9999;
    width: 85%;
    height: 425px;
    margin: 75px 30px 0px 30px;
    position: fixed;
    flex-direction: column;
}

.match-details-header {
    display: flex;
    justify-content: center;
    padding: 25px;
    font-size: 18px;
}

.match-details-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 25px; */
}

.match-details-content > span {
    padding: 10px;
}

.match-details-content > input {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    font-size: 22px;
    text-align: center;
    border: 1px solid #5a5a5a;
}

.match-details-content > button {
    margin-top: 25px;
    width: 100px;
    height: 35px;
    background-color: #03a9f4;
    border: 0px solid #5a5a5a;
    border-radius: 2px;
    color: #e7e7e7;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}


/* TABLE */
.table-tournament {
    width: 100%;
}

.table-tournament-body:nth-child(even) {
    background-color: #e7e7e7;
}

.table-tournament-body:nth-child(odd) {
    background-color: #f9f9f9;
}

.table-tournament-info {
    padding: 10px 5px;
    border: 1px solid #FFF;
    font-size: 12px;
}

/* MATCHES */
.matches-result {
    display: flex;
    gap: 5px;
    margin: auto;
}



/* EXTRA */
.align-center {
    text-align: center;
}

table, tr, td {
    border: none;
}