<aside class="sidenav" *ngIf="sideNavOpened">
  <div class="sidenav-menu">
    <a (click)="toggleSideNav()" style="margin-bottom: 20px;">
      <span class="material-icons-outlined" style="font-size: 32px">
        close
      </span>
    </a>

    <a>
      Ranking
    </a>

    <a>
      Histórico
    </a>

    <a>
      Regulamento
    </a>

  </div>
</aside>

<div class="match-details-overlay" *ngIf="isMatchDetailsOpened">
  <div class="match-details">

    <div class="match-details-header">
      Detalhes da Partida
    </div>

    <div class="match-details-content">
      <span>
        Mauricio e Rafael
      </span>
      <input type="number" maxlength="2" />
      <span>
        X
      </span>
      <input type="number" maxlength="2" />
      <span>
        Mauricio e Rafael
      </span>
      <button (click)="toggleMatchDetails()"> Salvar </button>
    </div>


  </div>
</div>

<header>

  <div class="header-logo">
    <img src="../assets/logo1.svg" style="height: 50px;" />
    <!-- PANELA DA CATEQUESE -->
    <!-- <span class="material-icons-outlined">
      sports_soccer
    </span> -->
  </div>
  <!-- <div class="header-menu">
    <a (click)="toggleSideNav()">


      <span class="material-icons-outlined">
        menu
      </span>
    </a>
  </div> -->

</header>




<main>



  <!-- <div class="main-menu">

    <a href="#" class="active">

      Tabela de Jogos
    </a>
    <a href="#">
      Classificação
    </a>
  </div> -->


  <div style="margin: 15px 0px;">


    <!-- <table>
      <thead>
        <tr>
          <th style="font-size: 14px; width: 200px;">
            Dupla
          </th>
           <th style="font-size: 14px;">
            J
          </th>
           <th style="font-size: 14px;">
            V
          </th>
           <th style="font-size: 14px;">
            D
          </th>
           <th style="font-size: 14px;">
            S
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="font-size: 12px;">
            Mauricio e Rafael
          </td>
         <td style="font-size: 12px;">
            3
          </td>
         <td style="font-size: 12px;">
            3
          </td>
         <td style="font-size: 12px;">
            0
          </td>
         <td style="font-size: 12px;">
            18
          </td>
        </tr>
        
      </tbody>
    </table> -->

    <div *ngFor="let match of matches" class="jogo1" (click)="toggleMatchDetails()">

      <div style="flex-basis: 40%">
        {{match.teamA?.playerA?.name}} e {{match.teamA?.playerB?.name}}
      </div>
      <div class="matches-result">
        <span>
          {{ match.pointsTeamA }}
        </span>
        <span>
          x
        </span>
        <span>
          {{ match.pointsTeamB }}
        </span>
      </div>
      <div style="flex-basis: 40%; display: flex;
      flex-direction: row-reverse;">
        {{match.teamB?.playerA?.name}} e {{match.teamB?.playerB?.name}}
      </div>
    </div>

    <!-- <div *ngFor="let match of matches" class="jogo1">

      <div style="flex-basis: 40%">
        {{match.teamA?.playerA?.name}} e {{match.teamA?.playerB?.name}}
      </div>
      <div style="margin: auto">
        18 x 10
      </div>
      <div style="flex-basis: 40%; display: flex;
      flex-direction: row-reverse;">
        {{match.teamB?.playerA?.name}} e {{match.teamB?.playerB?.name}}
      </div>
    </div> -->

  </div>


</main>

<footer style="">
  <a href="#">
    <div class="footer-menu" style="color: #03a9f4;">
      <span class="material-icons-outlined" style="color: #03a9f4">
        sports_soccer
      </span>
      Jogos
    </div>
  </a>
  <a href="#">
    <div class="footer-menu">
      <span class="material-icons-outlined">
        toc
      </span>
      Tabela
    </div>
  </a>
  <a href="#">
    <div class="footer-menu">
      <span class="material-icons-outlined">
        emoji_events
      </span>
      Ranking
    </div>
  </a>
  <a href="#">

    <div class="footer-menu">
      <span class="material-icons-outlined">
        history
      </span>
      Histórico
    </div>
  </a>
</footer>